html {
  scroll-behavior: smooth;
}

body {
    font-family: "Fira Code", Times, serif;
}

.landing-page {
  display: flex;
  height: 95vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

footer {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.subtitle {
  font-size: medium;
}

hr {
  border-style: dotted;
  margin-top: 30px;
  margin-bottom: 30px;
}

code {
  font-family: "Roboto Mono", Helvetica, sans-serif;
  font-size: small;
  background-color: lightgrey;
  padding: 10px;
}